flask==2.3.3               
flask-swagger-ui==4.11.1     
pandas==1.5.3                
tensorflow-cpu==2.12.0       
numpy==1.24.3                 
scikit-learn==1.2.2         
matplotlib==3.7.1            
seaborn==0.12.2              
python-dotenv==1.0.0         
